modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GOOGLE_SERVICE_ACCOUNT_EMAIL = "replitpers@me-time-stories-beta-a.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY_ID = "c7c02864706256a38d072ed11dc8e3ca940706e3"
GOOGLE_SHEET_ID = "14qvEC3w_5_CbBy4yDNXBHkkCJi2cCvv33NOl9UWIC54"
GOOGLE_DRIVE_FOLDER_ID = "0AHQeJcfUEVWaUk9PVA"

[userenv.development]
